.git
.github
.venv
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.ipynb_checkpoints

data
artifacts
mlruns
mlartifacts
mlflow.db
cybersentinel.db

.env
.env.*
*.pem
*.key

notebooks
docs
tests
tmp
temp
